{{>header}}

    <div class="content">
        <div class="login-button" id="teacherBtn">
            <a href="v1/teacherlogin" style="text-decoration: none;">
                <img src="/images/Staff.png" alt="Teacher Login">
                <p>Teacher Login</p>
            </a>
        </div>
        <div class="login-button" id="studentBtn">
            <a href="v1/studentlogin" style="text-decoration: none;">
                <img src="/images/Student.png" alt="Student Login">
                <p>Student Login</p>
            </a>
        </div>
    </div>   

{{>footer}}    