{{>header}}

<div class="container mt-5">
    <div class="error-container">
      <h2 class="mb-4">Unauthorized Access</h2>
      <p>You do not have permission to access this page.</p>
      <p>Please log in or contact the administrator for assistance.</p>
      <a href="/api/v1" class="btn btn-primary mt-3">Go to Home</a>
    </div>
</div>

{{>footer}}